<table class="table">
    <thead class="table-primary">

        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let laptop of laptops">
            <td class="align-middle">
                <img src="{{laptop.imageUrl}}" height="50" >
            </td>
            <td>{{laptop.name}} </td>
            <td>{{laptop.unitPrice | currency:'USD'}} </td>
            <td>{{laptop.unitsInStock}} </td>
        </tr>
    </tbody>
</table>